/* reset*/
* {
    margin: 0px; padding:0; font-size: 100%; box-sizing: border-box; 
 }
 
 nav,li {
     list-style: none;
 }
 
 a {
     text-decoration: none; cursor:pointer; opacity: 0.9;
 }
 
 .container {
     display: flex;
     justify-content: center;
 }
  
 header {
     display: flex;
     justify-content: space-between;
     align-items:center ;    
     width: 100%;
     max-width: 1200px;
     position: absolute;    
     padding: 20px 20px;
     background-color:#005f88c5 ;
     font-family: Arial, Helvetica, sans-serif;
 }

 header img {
     width: 200px;    
     border-width: 5px;
     border-radius: 10px;
     opacity: 0.9;
 }

 header img:hover {
    
    opacity: 1;
}
 
 header nav {
     display: flex;
 }
 
 header li a {
     color: #ffffff
 }
 
 header li a:hover {
     
    opacity: 1; 
     
 }
 
 header li  {
    margin: 0 15px ;
 }
 
 header li:first-child {
     margin-left: 0;
 }
 
 header li:last-child {
     margin-right: 0;
 }
 
 @media (max-width:700px) {
  header {flex-direction: column;}
  header img {margin-bottom: 15px;}
  header li a {font-size: 13px;margin: 0px;}
  header {width: 100%;}
 }

 .gap {
    display: flex;        
    margin-top: 55px;
    width: 100%;
    max-width: 1200px;  
}


 .corpo {
    
   display: flex;
   justify-content: center;  
       
 }

 .corpo div {
     margin-top: 50px;
     display: flex;  
     width: 100%;
     max-width: 1200px;
     height: auto;
     align-items: center;     
     flex-direction: column;     
     background-image: url(../imagens/sobre.jpg);
 } 
 div p {   
    color: #111547;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin-top: 10px;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    color: #0f1353;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;   
    padding: 10px;
    text-align: justify;
 } 

 h2 {
    color: #0f1353;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      
    padding: 10px;
    text-align: justify;

 }

 h2 p {
    color: #111547;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify; 
 }       

@media (max-width:700px) {
    .gap {margin-top: 90px;}
    div {flex-direction: column;}
    h1 {margin-top: 10px;}
    p {font-size: 12px;margin: 2px;}  
    
}

/*seção do rodape*/
.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape div{
display: flex;
width: 100%;
max-width: 1200px;
height: 15px;
background-color: #005f88c5;
justify-content: center;

}

.rodape div h3 {
display: flex;
text-align: center;
align-items: center;
color: #ffffff;
font-size: 9px;
}

@media (max-width:700px) {
    .text-motiv p{font-size: 10px;}
    .rodape div {justify-content: center; align-items: center;}
}


