* {
    margin: 2px; padding:0; font-size: 15px; box-sizing: border-box; 
    
 }
 
 nav,li {
     list-style: none;
 }
 
 a {
     text-decoration: none; cursor:pointer; opacity: 0.9;
 }
 
.container {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center ;    
    width: 1200px;
    position: absolute;    
    padding: 20px 50px;
    background-color:#005f88c5 ;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 200px;    
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.9;
}

header img:hover {
   
   opacity: 19;
}

header nav {
    display: flex;
}

header li a {
    color: #ffffff
}

header li a:hover {
    
   opacity: 1; 
    
}

header li  {
   margin: 0 15px ;
}

header li:first-child {
    margin-left: 0;    
}

header li:last-child {
    margin-right: 0;
}

@media (max-width:700px) {
    header {flex-direction: column;}
    header img {margin-bottom: 2px;}
    header li a {font-size: 13px;margin: 0px;}
    header {width: 400px;}
   }

.gap {
    display: flex;
    height: 110px; 
}

@media (max-width:700px) {
   .gap {height: 130px;}
}

.corpo {
    display: flex;
    justify-content: center;  
}

main {
    display: flex;
    width: 1200px;
    height: auto;
    background-image: url(../imagens/home.jpg);
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    box-sizing: border-box;  
}

.date {       
    text-align: center;    
    height: 20px;    
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b8860b;
}

.vaga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    text-align: justify;
}

.vaga h2{
    margin-bottom: 20px;
    font-size: 20px;
    color: #012425;
}

.vaga p{
    margin-right: 20px; margin-left: 20px;
    font-size: 15px;
    color: #012425;
}

.down-line{
    width: 1200px;
    height: 10px;
    background-color:#cc720bc5;
}

@media (max-width:700px) {
.down-line {width: 350px;}
.corpo {width: 350px; justify-content: center;}
.vaga h2 {font-size: 15px;margin-left: 15px; margin-right: 15px;}
.vaga p {font-size: 13px;margin-left: 15px; margin-right: 15px;}
}

