/* reset*/
* {
    margin: 0px; padding:0; font-size: 100%; box-sizing: border-box; 
 }
 
 nav,li {
     list-style: none;
 }
 
 a {
     text-decoration: none; cursor:pointer; opacity: 0.9;
 }
 
 .container {
     display: flex;
     justify-content: center;
 }
  
 header {
     display: flex;
     justify-content: space-between;
     align-items:center ;    
     width: 100%;
     max-width: 1200px;
     position: absolute;    
     padding: 20px 20px;
     background-color:#005f88c5 ;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 header img {
     width: 200px;  
     border-width: 5px;
     border-radius: 10px;
     opacity: 0.9;
 }
 
 header img:hover {
     opacity: 1;
 }
 
 header nav {
     display: flex;
 }
 
 header li a {
     color: #ffffff
 }
 
 header li a:hover {
     
   opacity: 1; 
     
 }
 
 header li  {
    margin: 0 15px ;
 }
 
 
 @media (max-width:700px) {
  header {flex-direction: column;}
  header img {margin-bottom: 15px;}
  header li a {font-size:13px;flex:1;}
  header {width: 100%;}
 }

 @media (max-width:350px) {
    header {flex-direction: column;}
    header img {margin-bottom: 12px;}
    header li a {font-size:10px;flex: 1;}
    header {width: 100%;}
}
 
 /*gap entre o cabeçalho e o corpo do site*/
 .gap {
     display: flex;        
     margin-top: 109px;
     width: 100%;
     max-width: 1200px;  
 }

 .anuncie {
    display: flex;
    justify-content: center;
 }

div img {
     width: 100%;
     max-width: 1200px;
 }

 .corpo {
    
   display: flex;
   justify-content: center;
       
 }

 .corpo div {
     flex-direction: column;
     display: flex;
     background-color: rgba(175, 194, 245, 0.096);
     width: 100%;
     max-width: 1200px;
     height: 330px;
     align-items: center;
     justify-content: flex-start;
     background-color: #ffffff;
     
 }
 
 div h1 {
     color: #005f88af;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-align: center;
     font-size: 20px;
     margin-top: 20px;
 }

 div p {
    color: #03293aaf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 10px;
 }

 div h3 {
    color: #005f88af;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

hr {
    color: #40bcdb;
    width: 100%;
    max-width: 1200px;
    border: 1px solid #40bcdb;
}

.ligia {
    display: flex;
    justify-content: center;
}

.anuncie div img {
    width: 100%;
    max-width: 1200px;
}

@media (max-width:700px) {
    .gap {margin-top: 143px; width: 100%px;}
    div h1 {font-size:12px;}
    div p {font-size: 12px;}
    div h3 {font-size:12px;}
    .corpo {height: 300px;}
     div img {width: 100%;max-width: 1200px;}
} 

@media (max-width:350px) {
    .gap {margin-top: 140px; width: 100%px;}
    div h1 {font-size:12px;}
    div p {font-size: 10px;}
    div h3 {font-size:10px;}
    .corpo {height: 300px;}
    div img {width: 100%; max-width: 1200px;}
} 